@inherits TopBarBase

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="container">
            <span class="oi oi-power-standby" aria-hidden="true"></span>
            <a class="navbar-brand" href="">Energy: @Game.ResourceManager.Energy</a>
        </div>
        <div class="container">
            <span class="oi oi-pencil" aria-hidden="true"></span>
            <a class="navbar-brand" href="">Wood: @Game.ResourceManager.Wood</a>
        </div>
        <div class="container">
            <span class="oi oi-briefcase" aria-hidden="true"></span>
            <a class="navbar-brand" href="">Scrap: @Game.ResourceManager.Scrap</a>
        </div>
        <div class="container">
            <span class="oi oi-hard-drive" aria-hidden="true"></span>
            <a class="navbar-brand" href="">Iron: @Game.ResourceManager.Iron</a>
        </div>
    </div>
</nav>