@page "/playerlogdetail/{LogId}"
@inherits PlayerLogDetailBase

<h1 class="page-title">Details for @LogId</h1>

<h3>LogEntryDetail</h3>

<h4>@LogId</h4>
<h4>@CurrentLogEntry.Text</h4>
<h4>@CurrentLogEntry.Time</h4>

