@page "/"
@inherits IndexBase

<h1>Overview</h1>

<h3>ResourceManager</h3>
<h5>Iron: @Game.ResourceManager.Iron</h5>
<h5>Scrap: @Game.ResourceManager.Scrap</h5>
<h5>Wood: @Game.ResourceManager.Wood</h5>

